@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
}

.box {
  background-size: cover;
  height: 100%;
  background-image: url("../public/images/bg-main-desktop.png");
}

label {
  font-size: 12px;
  letter-spacing: 1.5px;
}

.dark {
  background-color: hsl(278, 68%, 11%);
  color: white;
}

.dark:hover {
  background-color: hsl(279, 70%, 8%);
  color: rgb(159, 159, 159);
}

.attribution {
  font-size: 15px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  .CreditCardForm {
    margin-top: -30%;
  }
  .box {
    background-image: url("../public/images/bg-main-mobile.png");
    height: auto;
    padding: 10%;
  }
}

/* front card styles */

.card-container {
  background-image: url("../public/images/bg-card-front.png");
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}
